@tailwind base;
@tailwind components;

.light {
    --color-first: #c8d4d7;
    --color-second: #bbd0cf;
    --color-third: #354244;
    --color-fourth: #808d97;
    --color-fifth: #eaeaea;
    --color-main: #e9e9e9;
}
.dark {
    --color-first: #181818;
    --color-second: #1E5128;
    --color-third: #FFE77AFF;
    --color-fourth: #4E9F3D;
    --color-fifth: #242424;
    --color-main: #141414;
}
.psy {
    --color-first: #C1EE04;
    --color-second: #DB831C;
    --color-third: #831822;
    --color-fourth: #11808C;
    --color-fifth: #4242c3;
    --color-main: #c342a5;
}

@tailwind utilities;